.image-content {
  display: flex;
  justify-content: center;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  width: 55px;
  margin: 0.7rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  text-align: center;
  background-color: white;
  width: 80%;
} 

.product-img img {
  width: 100%;
  margin-left: 1rem;
}


.image-content img {
  width: 100%;
  object-fit: contain;
}

.image-content:hover {
  border: 1px solid blue;
}